.comicList {
  padding-left: 3em;
  width: 100%;
  background-color: var(--background);
}
.comicList__title {
  margin: 1.5em 0;
  color: var(--font-secondary);
  text-transform: uppercase;
  font-weight: 600;
  @media screen and(min-width: 640px) {
    margin: 3em 0 1.5em 0;
  }
}
.comicList__content {
  display: flex;
  flex-direction: row;
  gap: 0.5em;
  overflow-y: hidden;
  overflow-x: scroll;
  scrollbar-width: 2px;
  scrollbar-gutter: 2px;
  scrollbar-color: var(--primary);
  scroll-behavior: smooth;
  scrollbar-highlight-color: var(--secondary);
}
